:root {
  color-scheme: light dark;
}

html {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 720px;
  margin: 0 auto;

  @media only screen and (max-width: 750px) {
    margin: 0 15px;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

article {
  header {
    opacity: 0.8;

    a {
      color: inherit;
    }
  }
}
